<header class="logo">
    {{#if @blog.logo}}
    	<a class="logo__image" href="{{@blog.url}}">
    		<img src="{{@blog.logo}}" alt="{{@blog.title}} - {{@blog.description}}" />
    	</a>
    {{else}}
	    <h1 class="logo__title">
	    	<a href="{{@blog.url}}" class="logo__link">{{@blog.title}}</a>
	    </h1>
	    {{#if @blog.description}}
	    <h2 class="logo__desc">{{@blog.description}}</h2>
	    {{/if}}
    {{/if}}
</header>